<div class="machine-container">
  <% @locations.each do |location| %>
  <div class="location-card">
    <h2 class="location-name"><%= location.name %></h2>
    <% location.machines.each do |machine| %>
    <%= machine.name %>
    <% if machine.status == "running" %>
    <%= image_tag("green_#{machine.category}.jpg", class:"machine-logo") %>
    <% elsif machine.status == "out of service" %>
    <%= image_tag("red_#{machine.category}.jpg", class:"machine-logo") %>
    <% else %>
    <%= image_tag("grey_#{machine.category}.jpg", class:"machine-logo") %>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
