<div class="dashboard-container">
  <% @locations.each do |location| %>
  <div class="location-card">
    <h2 class="location-name"><%= location.name %></h2>
    <% location.machines.each do |machine| %>
      <div class="machine-card">
        <% if machine.status == "running" %>
          <%= image_tag("green_#{machine.category}.jpg", class:"machine-logo") %>
          <div class="info-container">
            <h3>Status: <%= machine.status %></h3>
            <div class="current-beer">
              <%= image_tag("#{}") %>
            </div>
            <button type="button" class="end-run machine-btn" name="button">End Run</button>
            <button type="button" class="oos machine-btn" name="button">Flag as Out of Service</button>
          </div>
        <% elsif machine.status == "out of service" %>
          <%= image_tag("red_#{machine.category}.jpg", class:"machine-logo") %>
          <div class="info-container">
            <h3>Status: <%= machine.status %></h3>
            <button type="button" class="rts machine-btn" name="button">Return to Service</button>
          </div>
        <% else %>
          <%= image_tag("grey_#{machine.category}.jpg", class:"machine-logo") %>
          <div class="info-container">
            <h3>Status: <%= machine.status %></h3>
            <button type="button" class="start-run machine-btn" name="button">Start Run</button>
            <button type="button" class="oos machine-btn" name="button">Flag as Out of Service</button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
